{%  extends "cutedog/layout.html" %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="query" value="="{{ request.GET.query }}/>
        <input type="submit" value="검색"/>
    </form>
    <div class="row">
        {% for video in video_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 my-3">
                <div class="card">
                    <a href="/catube/{{ video.pk }}/">
                        <img src="{{ video.thumbnail_file_thumb.url }}"
                             alt="{{ video.title }}"
                             class="card-img-top"
                        />

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ video.title }}
                        </h5>
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}