<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <h1>강아지 블로그</h1>

    <ul>
        <li>
            <a href="/">홈 버튼</a>
        </li>
        <li>
            <a href="/homework/">강아지 종류</a>
        </li>

    </ul>
    {% block content %}
    {% endblock %}
    <hr/>
    &copy;2021. 허성우(주).


</body>
</html>