{% extends "news/layout.html" %}

{% block content %}
    <form action="" method="get">
        <input type="text"
               name="query"
               value="{{ request.GET.query }}"
               placeholder="검색어를 입력해주세요."/>
        <input type="submit" value="검색" />
    </form>
    <div class="row" style="margin-top: 2em;">
        {% for post in post_list %}
            <div class="col-sm-6 offset-sm-3" style="margin-bottom: 2em">
                <div class="card">
                    <img src="{{ post.photo.url }}"
                         alt="{{ post.title }}"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                            {{ post.content|truncatewords:20 }}
                        <a href="{% url "news:post_detail" post.pk %}" class="btn btn-sm btn-primary">
                            바로가기
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}