{% extends "delicious/layout.html" %}

{% block content %}

    <form action="" method="get">
        <input type="text" name="query" value="{{ request.GET.query }}" />
        <input type="submit" value="검색" />
    </form>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>name</th>
                <th>telephone</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shop_list %}
                <tr>
                    <td>
                        <a href="{% url "delicious:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>
                    </td>
                    <td>
                        <a href="tel:{{ shop.telephone }}">
                                {{ shop.telephone }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}